/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

body {
  font-family: "Ford Antenna Light", arial, helvetica, sans-serif;
  background-color: white;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 10px;
}

.wrapper {
  max-width: 1980px;
  margin: 0 auto;
}
@media only screen and (max-width: 1200px) {
  .wrapper {
    width: 100%;
  }
}

.container {
  max-width: 1440px;
}
@media only screen and (max-width: 1200px) {
  .container {
    padding: 0;
  }
}

.row {
  margin: 0;
}

.btn--disclosures {
  width: 100%;
  background-color: transparent;
  color: #0276b3;
  border: transparent;
  margin: 20px 0;
  padding: 10px 0;
  font-size: 1.4rem;
}
.btn--disclosures i {
  transition: all 0.5s;
}
.btn--disclosures:focus {
  box-shadow: none;
  border: 1px solid #0276b3;
  color: #0276b3;
}
.btn--disclosures:hover {
  color: #0276b3;
}
.btn--disclosures.collapsed i {
  transform: rotateZ(180deg);
}

.btn--privacy {
  background-color: #0276b3;
  color: white;
  font-size: 1.5rem;
  padding: 10px 20px;
  border-radius: 0px;
}
.btn--privacy:hover {
  background-color: white;
}

.card--bg {
  background-color: #f7f7f7;
  max-height: 200px;
  overflow: scroll;
  padding: 25px 100px;
  text-align: justify;
  border: none;
  overflow-x: hidden;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.card--bg::-webkit-scrollbar {
  width: 10px;
}
.card--bg::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.card--bg::-webkit-scrollbar-thumb {
  background: #0276b3;
}
.card--bg::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.card--bg li {
  margin: 10px 0;
  font-size: 1.2rem;
}
.card--bg li h2,
.card--bg li p {
  line-height: 1.5;
  font-weight: 500;
  color: #333;
}
@media only screen and (max-width: 576px) {
  .card--bg {
    padding: 25px 30px;
    text-align: left;
  }
  .card--bg li {
    font-size: 1.1rem;
  }
}

.privacy .container .privacy__container--bg {
  background-color: #102b4e;
  padding: 20px 0;
}
.privacy .container .privacy__container--bg h1 {
  font-size: 4rem;
  color: white;
  margin-top: 20px;
}
.privacy .container .privacy__container--bg h3 {
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  color: white;
  margin: 15px 0;
  line-height: 1.4;
}
.privacy .container .privacy__container--bg h3 a {
  text-decoration: underline;
  color: #37a9e8;
  font-size: 1.5rem;
}
@media only screen and (max-width: 576px) {
  .privacy .container .privacy__container--bg h1 {
    font-size: 2.5rem;
    padding: 0 20px;
  }
  .privacy .container .privacy__container--bg h3 {
    font-size: 1.3rem;
    padding: 0 20px;
  }
  .privacy .container .privacy__container--bg h3 a {
    font-size: 1.2rem;
  }
}

.search .container .search__container--bg {
  background-color: #333;
  padding: 20px 50px;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .search .container .search__container--bg {
    padding: 20px;
  }
}
.search .container .search__container--bg .search__input {
  position: relative;
}
.search .container .search__container--bg .search__input form i {
  position: absolute;
  top: 25%;
  left: 0;
  font-size: 2rem;
  color: white;
}
.search .container .search__container--bg .search__input form input {
  background-color: transparent;
  border: none;
  color: white;
  padding: 0 0 0 30px;
  font-size: 2.5rem;
}
.search .container .search__container--bg .search__input form input::placeholder {
  color: white;
}
.search .container .search__container--bg .search__input form input:focus {
  border: none;
  box-shadow: none;
}
@media only screen and (max-width: 768px) {
  .search .container .search__container--bg .search__input {
    display: none;
  }
}
.search .container .search__container--bg .search__menu ul {
  display: flex;
  gap: 2rem;
}
.search .container .search__container--bg .search__menu ul li {
  font-size: 1.4rem;
}
.search .container .search__container--bg .search__menu ul li a {
  color: #a7a7a7;
}
.search .container .search__container--bg .search__menu ul li.active {
  font-weight: bold;
}
.search .container .search__container--bg .search__menu ul li.active a {
  color: white;
}
.search .container .search__container--bg .search__menu ul li:hover a {
  color: white;
}
@media only screen and (max-width: 576px) {
  .search .container .search__container--bg .search__menu ul li {
    font-size: 1.1rem;
  }
}

.category .container .category__container--bg {
  background-color: #242424;
  padding: 30px 50px;
}
.category .container .category__container--bg div .category__title {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 20px;
  display: block;
  cursor: context-menu;
}
.category .container .category__container--bg div .category__title i {
  display: none;
}
.category .container .category__container--bg div ul li {
  font-size: 1.4rem;
  cursor: pointer;
}
.category .container .category__container--bg div ul li a {
  color: #a7a7a7;
  display: block;
  padding: 7px 0;
}
.category .container .category__container--bg div ul li a .share--icon {
  font-size: 1rem;
}
.category .container .category__container--bg div ul li:hover a {
  color: white;
}
@media only screen and (max-width: 1200px) {
  .category .container .category__container--bg .category__item--md .category__title {
    padding: 0 15px;
    position: relative;
    cursor: pointer;
    padding: 0 15px 20px 15px;
    border-bottom: 1px solid #333;
    cursor: pointer;
  }
  .category .container .category__container--bg .category__item--md .category__title i {
    display: inline;
    position: absolute;
    right: 15px;
    top: 0;
  }
  .category .container .category__container--bg .category__item--md ul {
    overflow: hidden;
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
  .category .container .category__container--bg .category__item--md ul li {
    padding: 0 15px;
  }
  .category .container .category__container--bg .category__item--md ul li a {
    border-bottom: none;
  }
}
@media only screen and (max-width: 768px) {
  .category .container .category__container--bg .category__item--sm .category__title {
    padding: 0 15px;
    position: relative;
    cursor: pointer;
    padding: 0 15px 20px 15px;
    border-bottom: 1px solid #333;
    cursor: pointer;
  }
  .category .container .category__container--bg .category__item--sm .category__title i {
    display: inline;
    position: absolute;
    right: 15px;
    top: 0;
  }
  .category .container .category__container--bg .category__item--sm ul {
    overflow: hidden;
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
  .category .container .category__container--bg .category__item--sm ul li {
    padding: 0 15px;
  }
  .category .container .category__container--bg .category__item--sm ul li a {
    border-bottom: none;
  }
}
@media only screen and (max-width: 768px) {
  .category .container .category__container--bg {
    padding: 20px 0;
  }
}
.category .container .container--flex {
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .category .container .container--flex div {
    padding: 0 5px;
  }
}

/*# sourceMappingURL=app.css.map */
