.btn-blue-scale {
  position: relative;
  color: white !important;
  padding: 1.2rem 3rem;
  font-size: 1.8rem;
  font-family: "fordngbs-antenna-cond-regular", "fordngbs-antenna-re", arial,
    helvetica, sans-serif;
  line-height: 18px;
  letter-spacing: 1px;
  z-index: 1;
  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out,
      box-shadow 0.3s ease-in-out;
    border-radius: 2rem;
    background-color: $second-color;
    box-shadow: 0 2px 4px 2px rgb(0 0 0 / 14%);
  }
  &:hover::before {
    background-color: #1700f4;
    transform: scale(1.05);
    box-shadow: 0 7px 6px 0 rgb(0 0 0 / 30%);
  }
}


.btn--disclosures {
  width: 100%;
  background-color: transparent;
  color: $primary-light;
  border: transparent;
  margin: 20px 0;
  padding: 10px 0;
  font-size: 1.4rem;

  i {
    transition: all 0.5s;
  }

  &:focus {
    box-shadow: none;
    border: 1px solid $primary-light;
    color: $primary-light;
  }
  &:hover {
    color: $primary-light;
  }

  &.collapsed {
    i {
      transform: rotateZ(180deg);
    }
  }
}

.btn--privacy {
  background-color: $primary-light;
  color: white;
  font-size: 1.5rem;
  padding: 10px 20px;
  border-radius: 0px;

  &:hover {
    background-color: white;
  }
}


// .btn-blue-scale-2 {
//   position: relative;
//   color: white !important;
//   padding: 1.2rem 3rem;
//   font-size: 1.7rem;
//   z-index: 1;
//   top: 48px;
//   &::before {
//     position: absolute;
//     content: "";
//     z-index: -1;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out,
//       box-shadow 0.3s ease-in-out;
//     border-radius: 2rem;
//     background-color: $second-color;
//     box-shadow: 0 2px 4px 2px rgb(0 0 0 / 14%);
//   }
//   &:hover::before {
//     background-color: #1700f4;
//     border-color: #1700f4;
//     transform: scale(1.07);
//     box-shadow: 0 7px 6px 0 rgb(0 0 0 / 30%);
//   }
//   &:focus {
//     outline-offset: 8px;
//     outline: 1px solid #00095b !important;
//   }
//   &:active:focus {
//     outline-color: #00095b !important;
//   }
// }
