body{
    font-family: "Ford Antenna Light",arial,helvetica,sans-serif;
    background-color: white;
    -webkit-font-smoothing: antialiased;
}

html{
    font-size: 10px;
}

.wrapper{
    max-width: 1980px;
    margin: 0 auto;
    @include Responsive(XL){
        width: 100%;
    }
}

.container{
    max-width: 1440px;
    @include Responsive(XL){
        padding: 0;
    }
}