body {
  font-family: "Ford Antenna Light", arial, helvetica, sans-serif;
  background-color: white;
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: "Ford Antenna Light";
  src: url("//db.onlinewebfonts.com/t/3cbd18ee75a23e404e78614692aa64e8.eot");
  src: url("//db.onlinewebfonts.com/t/3cbd18ee75a23e404e78614692aa64e8.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/3cbd18ee75a23e404e78614692aa64e8.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/3cbd18ee75a23e404e78614692aa64e8.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/3cbd18ee75a23e404e78614692aa64e8.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/3cbd18ee75a23e404e78614692aa64e8.svg#Ford Antenna Light")
      format("svg");
}

html {
  font-size: 10px;
}

.wrapper {
  max-width: 1980px;
  margin: 0 auto;
  @include Responsive(XL) {
    width: 100%;
  }
}

.container {
  max-width: 1440px;
  padding: 0;
  @include Responsive(XL) {
    padding: 0;
  }
}

.row {
  margin: 0;
}
