body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: #f5f9fe;
}

html{
    font-size: 10px;
}

.wrapper{
    max-width: 1980px;
    margin: 0 auto;
    @include Responsive(XL){
        width: 100%;
    }
}