// START PRIVACY
.privacy {
  .container {
    .privacy__container--bg {
      background-color: $primary-dark;
      padding: 20px 0;

      h1 {
        font-size: 4rem;
        color: white;
        margin-top: 20px;
      }
      h3 {
        font-size: 1.4rem;
        letter-spacing: 0.5px;
        color: white;
        margin: 15px 0;
        line-height: 1.4;
        a {
          text-decoration: underline;
          color: rgb(55, 169, 232);
          font-size: 1.5rem;
        }
      }

      @include Responsive(SM) {
        h1 {
          font-size: 2.5rem;
          padding: 0 20px;
        }
        h3 {
          font-size: 1.3rem;
          padding: 0 20px;

          a {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
// END PRIVACY

// START SEARCH
.search {
  .container {
    .search__container--bg {
      background-color: #333;
      padding: 20px 80px;
      justify-content: space-between;
      align-items: center;

      @include Responsive(MD) {
        padding: 20px;
      }

      .search__input {
        position: relative;
        form {
          i {
            position: absolute;
            top: 25%;
            left: 0;
            font-size: 2rem;
            color: white;
          }
          input {
            background-color: transparent;
            border: none;
            color: white;
            padding: 0 0 0 30px;
            font-size: 2.5rem;

            &::placeholder {
              color: white;
            }

            &:focus {
              border: none;
              box-shadow: none;
            }
          }
        }

        @include Responsive(MD) {
          display: none;
        }
      }

      .search__menu {
        ul {
          display: flex;
          gap: 2rem;
          li {
            font-size: 1.4rem;
            a {
              color: #a7a7a7;
            }
            &.active {
              font-weight: bold;
              a {
                color: white;
              }
            }
            &:hover {
              a {
                color: white;
              }
            }
          }
        }
        @include Responsive(SM) {
          ul {
            li {
              font-size: 1.1rem;
            }
          }
        }
      }
    }
  }
}
// END SEARCH

// START CATERGORY
.category {
  .container {
    .category__container--bg {
      background-color: #242424;
      padding: 30px 50px;

      div {
        .category__title {
          font-size: 1.5rem;
          color: white;
          margin-bottom: 20px;
          display: block;
          cursor: context-menu;
          i {
            display: none;
          }
        }
        ul {
          li {
            font-size: 1.4rem;
            cursor: pointer;
            a {
              color: #a7a7a7;
              display: block;
              padding: 7px 0;
              .share--icon {
                font-size: 1rem;
              }
            }

            &:hover {
              a {
                color: white;
              }
            }
          }
        }
      }

      @include Responsive(XL) {
        .category__item--md {
          .category__title {
            position: relative;
            cursor: pointer;
            padding: 0 15px 20px 15px;
            border-bottom: 1px solid #333;
            cursor: pointer;

            @include Responsive(SM) {
              padding: 0 0 20px 0;
            }

            i {
              display: inline;
              position: absolute;
              right: 15px;
              top: 0;
            }
          }

          ul {
            overflow: hidden;
            border-bottom: 1px solid #333;
            margin-bottom: 20px;
            padding-bottom: 20px;
            padding-left: 20px;
            li {
              padding: 0 15px;
              a {
                border-bottom: none;
              }
            }
          }
        }
      }
      @include Responsive(MD) {
        .category__item--sm {
          .category__title {
            position: relative;
            cursor: pointer;
            padding: 0 0px 20px 15px;
            border-bottom: 1px solid #333;
            cursor: pointer;
            i {
              display: inline;
              position: absolute;
              right: 15px;
              top: 0;
            }
          }

          ul {
            overflow: hidden;
            border-bottom: 1px solid #333;
            margin-bottom: 20px;
            padding-bottom: 20px;
            padding-left: 20px;
            li {
              padding: 0 15px;
              a {
                border-bottom: none;
              }
            }
          }
        }
      }
      .category__item--sm {
        .category__title {
          @include Responsive(SM) {
            padding: 0 0 20px 0;
          }
        }
      }
      @include Responsive(MD) {
        padding: 20px 0;
      }
    }
    .container--flex {
      justify-content: space-between;

      @include Responsive(MD) {
        div {
          padding: 0 5px;
        }
      }
    }
  }
}
// END CATEGORY

// START FOLLOW
.follow {
  .container {
    .follow__container--bg {
      background-color: $primary-dark;
      padding: 30px 35px;

      @include Responsive(MD) {
        padding: 30px 20px;
      }
      @include Responsive(SM) {
        padding: 30px 10px;
      }

      .follow__updates-share {
        a {
          .follow__updates,
          .follow__share {
            align-items: center;
            white-space: nowrap;
            flex-wrap: nowrap;

            span {
              font-size: 1.7rem;
              color: #37a9e8;

              @include Responsive(SM) {
                font-size: 1.3rem;
              }
            }
          }

          .follow__share {
            @include Responsive(LG) {
              display: none;
            }
          }
        }
        @include Responsive(SM) {
          padding: 0;
          a {
            padding: 0;
          }
        }
        @include Responsive(MD) {
          border-bottom: 1px solid #a7a7a7;
          padding: 0 0 10px 0;
          margin: 0 0 10px 0;
          a {
            padding: 0;
          }
        }
      }
      .follow__ford {
        align-items: center;
        white-space: nowrap;
        flex-wrap: nowrap;

        span {
          font-size: 1.1rem;
          color: white;
          margin-right: 30px;
          @include Responsive(MD) {
            margin-bottom: 30px;
          }
        }

        @include Responsive(MD) {
          flex-wrap: wrap;
          padding: 0;
        }
      }
    }
  }
}
// END FOLLOW

// START TERTIARY
.tertiary {
  .container {
    .tertiary__container--bg {
      background-color: #f7f7f7;
      border-color: #e7e7e7;
      padding: 20px 50px;

      .tertiary__language{
        .tertiary__language-icon{
          a{
            align-items: center;
            i{
              font-size: 2rem;
              margin-right: 20px;
            }
            span{
              font-size: 1.2rem;
              text-decoration: underline;
            }
          }
        }
        p{
          margin: 20px 0;
          font-size: 1.2rem;
        }
      }
      .tertiary__logo{
        img{
          max-width: 70px;
          max-height: 50px;
        }
      }
    }
  }
}
// END TERTIARY
