header {
  position: fixed;
  top: 0;
  transition: top 0.4s ease-in-out;
  width: 100%;
  z-index: 2;
  nav {
    padding: 0 !important;
    .responsive-div {
      @include resNormal(tablet) {
        display: flex !important;
        justify-content: space-between;
        background-color: white;
        box-shadow: 0 8px 4px -4px rgb(0 0 0 / 20%);
        padding: 2rem;
      }
      .navbar-brand {
        img {
          @include resNormal(tablet) {
            width: 93px;
            height: 35px;
          }
        }
      }
    }

    .responsive-options {
      @include resNormal(tablet-m) {
        display: none !important;
      }
      ul {
        li.border-btm {
          padding: 2rem;
          border-bottom: 1px solid #8080803b;
          a {
            span {
              font-size: 1.3rem;
              color: $primary-light;
              font-weight: 600;
            }
          }
          i.arrow_down {
            font-size: 1.3rem;
            color: $primary-light;
            display: flex;
            align-items: center;
          }
          &:hover {
            cursor: pointer;
            span {
              color: $primary-dark;
            }
            i.arrow_down {
              color: $primary-dark;
            }
          }
        }
      }
      .responsive-brand {
        padding: 2rem;
      }
      .white{
        height: 600px;
        background-color: white;
      }
    }

    .eyebrow {
      background-color: #f3f3f3;
      padding: 5px 10rem;
      @include resNormal(tablet) {
        display: none !important;
      }
      // left
      &__left-item {
        @include resNormal(tablet) {
          height: 50px;
          display: flex;
          align-items: flex-end;
          margin-right: 2rem;
        }
        a {
          color: $primary-dark;
          .eyebrow__left-text {
            margin-left: 5px;
            font-size: 1.2rem;
            font-weight: 600;
            @include resNormal(tablet) {
              margin-top: 3px;
            }
          }
          &:hover {
            .eyebrow__left-text {
              color: $primary-light;
            }
            .ford-mustang {
              background-image: url(../images/ford-mustang-1.svg);
            }
            .ford-bronco {
              background-image: url(../images/ford-bronco-1.svg);
            }
          }
        }

        .separator::before {
          content: "";
          width: 2px;
          height: 20px;
          margin-right: 1rem;
          margin-left: 1rem;
          background-color: #d6d5d5;
          display: inline-block;
          line-height: normal;
          vertical-align: middle;
        }
      }
      // right
      &__right-item {
        margin-right: 2rem;
        font-size: 1.2rem;
        font-weight: 600;
        a.eyebrow__right-locations {
          span {
            color: #2861a4;
            margin-left: 5px;
          }
          &:hover {
            .locations-icon {
              color: $primary-light;
            }
          }
        }

        a.eyebrow__right-language {
          color: black;
          &:hover {
            color: $primary-light;
          }
        }
      }
    }

    .brand {
      padding: 16px 10rem;
      background-color: white;
      box-shadow: 0 8px 4px -4px rgb(0 0 0 / 20%);
      @include resNormal(tablet) {
        display: none !important;
      }
      // logo
      &__logo {
        img {
          width: 50%;
        }
      }
      // options
      &__options {
        margin-left: -3rem;
        &-item {
          margin-right: 2rem;
          a {
            font-size: 1.3rem;
            font-weight: 600;
            color: $primary-light;
            &:hover {
              color: $primary-dark;
            }
          }
        }
      }
      // information
      &__info {
        &-item {
          margin-right: 2rem;
          &:hover .brand__info-text {
            color: $primary-dark;
          }
          .brand__info-text {
            font-size: 1.3rem;
            font-weight: 600;
            color: $primary-light;
          }
        }
      }
    }
  }
}

header.hide {
  top: -117px;
  nav {
    .brand {
      box-shadow: 0 0 0 0 transparent;
    }
  }
}
