.products {
    padding: 48px 0;
    &__title {
      h2 {
        font-size: 34px;
        color: $second-color;
        line-height: 40px;
      }
      p {
        padding-top: 10px;
        font-size: 16px;
        color: #4d4d4d;
        line-height: 24px;
      }
      a {
        margin-top: 30px;
        background-color: $second-color;
        border: 1px solid $second-color;
        box-shadow: 0 2px 4px 2px rgb(0 0 0 / 14%);
        border-radius: 20px;
        padding: 12px 30px 11px;
        .btn-text {
          font-family: "fordngbs-antenna-cond-regular", "fordngbs-antenna-re",
            arial, helvetica, sans-serif;
          color: #fff;
          font-size: 18px;
          line-height: 18px;
          letter-spacing: 1px;
        }
      }
    }
    &__image {
      img {
        width: 100%;
      }
      .image-full {
        display: block;
        //   display: block;
      }
      .image-mobile {
        display: none;
      }
      @media screen {
        .image-full {
          @media (max-width: $computer) {
            display: block;
          }
          @media (max-width: $tablet) {
            display: none;
          }
        }
        .image-mobile {
          @media (max-width: $computer) {
            display: none;
          }
          @media (max-width: $tablet) {
            display: block;
          }
        }
      }
    }
    &__billboard {
      padding-top: 48px;
      img {
        width: 100%;
      }
      .image-full {
        display: block;
      }
      .image-mobile {
        display: none;
      }
      @media screen {
        .image-full {
          @media (max-width: $computer) {
            display: block;
          }
          @media (max-width: $tablet) {
            display: none;
          }
        }
        .image-mobile {
          @media (max-width: $computer) {
            display: none;
          }
          @media (max-width: $tablet) {
            display: block;
          }
        }
      }
    }
  }
